<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Easy Filtering and Ordering</title>
		<link rel="stylesheet" href="bootstrap.css">
		<link rel="stylesheet" href="app.css">
	</head>
	<body id="demo" class="container">
		<input type="text" v-model="search" class="form-control">
		<table class="table table-striped">
			<thead>
				<tr>
					<th v-for="column in columns">
						<a v-on:click="sortBy(column)" v-class="active:sortKey == column">
							{{column}}
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="people in peoples |filterBy search  | orderBy sortKey reverse">
					<td>{{people.name}}</td>
					<td>{{people.age}}</td>
				</tr>
			</tbody>
		</table>
		<script src="vue.js"></script>
		<script src="app.js"></script>
	</body>
</html>